<div class="header">
    <button nz-button nzType="primary" (click)="handleSaveMenu()">添加顶级菜单</button>
</div>

<nz-tree 
    #nzTreeComponent 
    [nzData]="menuList"
    nzBlockNode
    [nzShowExpand]="false"
>
    <ng-template #nzTreeTemplate let-node>
        <div class="item" (click)="node.isExpanded = !node.isExpanded" >
            <i nz-icon class="expand" nzType="{{node.isExpanded ? 'caret-down' : 'caret-right'}}" nzTheme="outline"></i>
            <i nz-icon *ngIf="node.origin.icon" [nzType]="node.origin.icon" nzTheme="outline"></i>
            <span class="title">{{node.origin.name}}</span>
            <button (click)="handleMenu($event, node, 'save')" *ngIf="node.origin.type !== 2" class="add" nz-button nzType="primary" nzSize="small">添加</button>
            <button (click)="handleMenu($event, node, 'update')" class="add" nz-button nzType="dashed" nzSize="small">修改</button>
            <button (click)="handleMenu($event, node, 'delete')" nz-button nzType="danger" nzSize="small">删除</button>
        </div>
    </ng-template>
</nz-tree>

<nz-modal
    [(nzVisible)]="modalTitle"
    [nzTitle]="modalTitle"
    (nzOnCancel)="handleModalCancel()"
    (nzOnOk)="handleModalOk()"
    [nzMaskClosable]="false"
    [nzOkLoading]="OkLoading"
>
    <form
        nz-form
        [formGroup]="validateForm"
    >
        <nz-form-item>
            <nz-form-label [nzSpan]="6" nzFor="name">菜单名称</nz-form-label>
            <nz-form-control [nzSpan]="14">
                <input nz-input formControlName="name" type="text" id="name">
                <nz-form-explain *ngIf="validate('name')">
                    {{getFormError('name')}}
                </nz-form-explain>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label [nzSpan]="6" nzFor="url">菜单地址</nz-form-label>
            <nz-form-control [nzSpan]="14">
                <input nz-input formControlName="url" type="text" id="url">
                <nz-form-explain *ngIf="validate('url')">
                    {{getFormError('url')}}
                </nz-form-explain>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label [nzSpan]="6" nzFor="perms">权限规则</nz-form-label>
            <nz-form-control [nzSpan]="14">
                <input nz-input formControlName="perms" type="text" id="perms">
                <nz-form-explain *ngIf="validate('perms')">
                    {{getFormError('perms')}}
                </nz-form-explain>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label [nzSpan]="6" nzFor="type">菜单类型</nz-form-label>
            <nz-form-control [nzSpan]="14">
                <nz-select
                    nzAllowClear
                    nzPlaceHolder="选择菜单类型"
                    formControlName="type"
                    id="type"
                    >
                    <nz-option nzLabel="目录" [nzValue]="0"></nz-option>
                    <nz-option nzLabel="菜单" [nzValue]="1"></nz-option>
                    <nz-option nzLabel="权限" [nzValue]="2"></nz-option>
                </nz-select>
                <nz-form-explain *ngIf="validate('type')">
                    {{getFormError('type')}}
                </nz-form-explain>
            </nz-form-control>
        </nz-form-item>

        
        <nz-form-item>
            <nz-form-label [nzSpan]="6" nzFor="parentId">上级菜单</nz-form-label>
            <nz-form-control [nzSpan]="14">
                <nz-tree-select
                    [nzNodes]="menuListCopy"
                    nzShowSearch
                    nzPlaceHolder="请选择上级菜单"
                    formControlName="parentId"
                    nzDefaultExpandAll
                    id="parentId"
                    >
                    </nz-tree-select>
                <nz-form-explain *ngIf="validate('parentId')">
                    {{getFormError('parentId')}}
                </nz-form-explain>
            </nz-form-control>
        </nz-form-item>


        <nz-form-item>
            <nz-form-label [nzSpan]="6" nzFor="icon">菜单图标</nz-form-label>
            <nz-form-control [nzSpan]="14">
                <nz-select 
                    nzShowSearch 
                    nzAllowClear
                    formControlName="icon"
                    nzPlaceHolder="选择图标"
                >
                    <nz-option
                        *ngFor="let item of iconList"
                        nzCustomContent
                        [nzLabel]="item.name"
                        [nzValue]="item.name">
                            <i nz-icon [type]="item.name" [theme]="item.theme"></i>
                            {{item.name}}
                    </nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>
        

        <nz-form-item>
            <nz-form-label [nzSpan]="6" nzFor="orderNum">排序</nz-form-label>
            <nz-form-control [nzSpan]="14">
                <input nz-input formControlName="orderNum" type="text" id="orderNum">
                <nz-form-explain *ngIf="validate('orderNum')">
                    {{getFormError('orderNum')}}
                </nz-form-explain>
            </nz-form-control>
        </nz-form-item>
    </form>
</nz-modal>