<nz-layout class="page-admin-root">
    <nz-header class="header">
        <a class="logo" href="/admin">陆向谦创新实验室</a>
        <div class="user-info">
            <nz-dropdown>
                <a nz-dropdown>
                    <nz-avatar nzIcon="user"></nz-avatar> {{userInfo.username}} <i nz-icon type="down"></i>
                </a>
                <ul nz-menu nzSelectable>
                    <li nz-menu-item>
                        <a>修改密码</a>
                    </li>
                    <li nz-menu-divider></li>
                    <li (click)="logOut()" nz-menu-item>
                        <a>安全退出</a>
                    </li>
                </ul>
            </nz-dropdown>
        </div>
    </nz-header>
    <nz-layout>
        <nz-sider
            [nzWidth]="220"
            [nzCollapsible]="true"
            [nzTrigger]="false"
            [(nzCollapsed)]="collapsed">
            <ul 
                nz-menu
                [nzMode]="'inline'"
                [nzTheme]="'dark'">
                <ng-container *ngFor="let item of menu">
                    <li nz-menu-item *ngIf="item.type === 1">菜单项</li>
                    <li nz-submenu *ngIf="item.type === 0">
                        <span title>{{item.name}}</span>
                        <ul>
                            <ng-container *ngFor="let children of item.children">
                                <li nz-menu-item (click)="navigator(children.url)">{{children.name}}</li>
                            </ng-container>
                        </ul>
                    </li>
                </ng-container>
            </ul>
        </nz-sider>
        <nz-content class="content">
            <router-outlet></router-outlet>
        </nz-content>
      </nz-layout>
</nz-layout>