:host{
    display: block;
    height: 100%;
    display: flex;
}
.layout {
    flex: 1;
}

.layout .sider {
    background: #fff;
}

.layout .sider .form {
    width: 100%;
    display: flex;
    height: inherit;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.layout .sider .form .submit {
    display: flex;
    justify-content: center;
    padding: 0 50px;
}