<nz-layout class="layout">
    <nz-content>
        
    </nz-content>
    <nz-sider [nzWidth]="400" class="sider">
        <div class="form">
            <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm($event)">
                <nz-form-item>
                    <nz-form-label nzFor="username">账号</nz-form-label>
                    <nz-form-control [nzValidateStatus]="getStatus('username')">
                        <input nz-input formControlName="username" type="text" id="username">   
                        <nz-form-explain *ngIf="validate('username')">
                            {{getErrors('账号', 'username')}}
                        </nz-form-explain>
                    </nz-form-control>
                    
                </nz-form-item >
                <nz-form-item>
                    <nz-form-label nzFor="password">密码</nz-form-label>
                    <nz-form-control>
                        <input nz-input formControlName="password" type="password" id="password">  
                        <nz-form-explain *ngIf="validate('password')">
                                {{getErrors('密码', 'password')}}
                        </nz-form-explain> 
                    </nz-form-control>
                </nz-form-item >
                <nz-form-item>
                    <nz-form-label nzFor="captcha">验证码</nz-form-label>
                    <nz-form-control>
                        <nz-form-explain *ngIf="validate('captcha')">
                                {{getErrors('验证码', 'captcha')}}
                        </nz-form-explain>
                        <div class="captcha">
                            <input nz-input formControlName="captcha" type="captcha" id="captcha">
                            <span>
                                <nz-spin [nzSpinning]="captchaSpinning">
                                    <img (load)="captchaSpinning=false" (click)="updateUUID();captchaSpinning=true" [src]="'/proxyapi/captcha.jpg?uuid=' + uuid" />
                                </nz-spin>
                            </span>
                        </div>
                    </nz-form-control>
                </nz-form-item >
                <nz-form-item class="submit">
                    <button nzBlock nz-button type="submit" [nzType]="'primary'">登录</button>
                </nz-form-item >
            </form>
        </div>
    </nz-sider>
</nz-layout>