:host{
    display: block;
    height: 100%;
    display: flex;
}
.layout {
    flex: 1;
    .sider {
        background: #fff;
        .form {
            width: 100%;
            display: flex;
            height: inherit;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            padding: 30px;
            .ant-form-item {
                margin-bottom: 10px;
            }
            .submit {
                display: flex;
                justify-content: center;
            }
            .captcha {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }
    }
}